* {
    border: none;
    border-radius: 0px;
    font-family: Symbols Nerd Font, FiraCode Nerd Font Mono;
    font-weight: bold;
    font-size: 11px;
    min-height: 0px;
    padding: 2px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.3);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.3);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery, #upower, #bluetooth, #custom-date,
#hyprland-language, #pulseaudio, #custom-notification, #disk, #cpu,
#memory, #temperature {
    padding: 0px 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight-slider slider {
    min-width: 0;
    min-height: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 10px;
    min-width: 60px;
    border-radius: 5px;
    background-color: black;
}

#backlight-slider highlight {
    min-width: 1px;
    border-radius: 10px;
    background-color: red;
}
